{% extends "admin/change_list.html" %}
{% load static %}

{% block content %}
<div style="margin: 20px 0; padding: 15px; background: white; border: 1px solid #ddd">
    <h2>Активность пользователей за текущий месяц</h2>
    <div style="width: 90%; height: 400px">
        <canvas id="activityChart"></canvas>
    </div>
</div>
{{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{ chart_data|json_script:"chart-data" }}
<script src="{% static 'js/client_activity.js' %}"></script>
{% endblock %}